<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col" style="text-align:center; background-color: aqua">
      <h5>
        Welcome to {{ title }}!
      </h5>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <app-header></app-header>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-list-users [userName]="title"></app-list-users>
    </div>
  </div>
</div>