<div class="card" *ngFor="let user of users">
  <div class="card-header">
    <h3 class="card-title">{{user.firstName + ' ' + user.lastName}}</h3>
  </div>

  <div class="card-body">
    <div class="col-xs-10">
      <div class="row vertical-align">
        <div class="col-xs-4">
          <img class="imageSize" [src]="user.photoPath" />
        </div>
        
        <div class="col-xs-8" style="background-color: aqua;">
          <div class="row">
            <div class="col-xs-6">
              Gender
            </div>
            <div class="col-xs-6">
              : {{user.gender}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Email
            </div>
            <div class="col-xs-6">
              : {{user.email}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Contact Number
            </div>
            <div class="col-xs-6">
              : {{user.contactNumber}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Date Of Birth
            </div>
            <div class="col-xs-6">
              : {{user.dateOfBirth | date}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>